:root {
    --link-navbar: #707070;
    --title-color: #211c51;
    --subtitle-color: #dc43c6;
    --text-color: #212338;
    --btns-color: #fc4364;
    --bg-white: #fff;
    --bg-grey: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*----------NAVBAR----------*/

.navbar {
    width: 100%;
    max-height: 60px;
    position: fixed;
    background: var(--bg-white);
    z-index: 10;
}

.navbar-logo {
    margin-left: 0;
}

.navbar.wrppr {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1155px;
    margin: 0 auto;
}

#navbar-toggle {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--link-navbar);
    padding: 9px 10px;
    margin: 14px 15px 8px 0;
    font-size: 20px;
    cursor: pointer;
}

#navbar-links {
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(-20px);
    opacity: 0;
    z-index: 1;
    background: var(--bg-white);
    top: 60px;
}

#navbar-links.activo {
    opacity: 1;
    transform: translateY(0);
    z-index: 100;
}

#navbar-links > li > ul {
    display: none;
}

#navbar-links.activo > li > ul {
    display: block;
}

#navbar-links a {
    color: var(--link-navbar);
    font-size: 15px;
    line-height: 30px;
    display: none;
    padding: 10px 15px;
    z-index: 1;
}

#navbar-links.activo a {
    display: block;
}

#more-section {
    background-color: var(--bg-white);
    padding-left: 15px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out;
    transform: translateY(-10px);
    opacity: 0;
    height: 0px;
}

#more-section.activo {
    transform: translateY(0);
    opacity: 1;
    height: 100px;
}

/*----------BANNER----------*/

.banner {
    padding: 80px 0 160px;
    background: linear-gradient(90deg,#7250d5 0, #aa47a5 50%, #f43a67 99%);
    position: relative;
    z-index: 9;
}

.banner::before {
    content: "";
    position: absolute;
    left: -28%;
    top: 0;
    bottom: 0;
    width: 100%;
    background: hsla(0, 0%, 100%, .1);
    transform: skewX(-25deg);
}

.banner::after {
    content: "";
    position: absolute;
    background: var(--bg-white);
    height: 100%;
    left: 0;
    height: 100px;
    width: 100%;
    bottom: -50px;
    transform: skewY(-3.5deg);
}

.banner-txt {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.banner-txt h1 {
    color: #fff;
    font-size: clamp(22px, 6vw, 44px);
    line-height: clamp(30px, 8vw, 51px);
    font-weight: 600;
    letter-spacing: 1.4px;
    margin: 20px 0;
}

 /*----------IMG BANNER----------*/

.banner-img-cont {
    width: 283px;
    height: 170px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    top: 60%;
    margin-left: auto;
    margin-right: auto;
} 

.banner-img-cont a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-white);
}

.banner-img-cont a img {
    width: 98.5%;
    height: 98%;
}

/*----------INTRO SECTION----------*/

.intro-sec {
    margin: 80px auto 0;
    padding: 0 20px;
    max-width: 800px;
    color: var(--title-color);
    text-align: center;
}

.rainbow-txt-cont p {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #1e8bff, #6955ff 45%, #a83af5 50%, #c03ada 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-about-cont h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.intro-about-cont p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 200;
}

.intro-data-cont {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 20px;
    margin: 40px 0;
}

.intro-data-cont .data {
    font-size: 40px;
    font-weight: 500;
    display: block;
}

.data.data1 {
    color: #1e8bff;
}

.data.data2 {
    color: #6955ff;
}

.data.data3 {
    color: #a83af5;
}

.data.data4 {
    color: #c03ada;
}

/*----------REVIEWS SECTION----------*/

.reviews-sec {
    padding: 138px 0 50px;
    position: relative;
    z-index: 1;
    background-color: var(--bg-grey);
    overflow: hidden;
}

.reviews-sec::before,
.reviews-sec::after {
    content: "";
    position: absolute;
    background-color: var(--bg-white);
    height: 130px;
    left: 0;
    width: 100%;
    transform: skewY(-4deg);
}

.reviews-sec::before {
    top: -50px;
}

.reviews-sec::after {
    bottom: -75px;
}

.reviews-grid-cont {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 10px 50px;
    max-width: 700px;
    margin: 0 auto;
}

.review-cont {
    background-color: var(--bg-white);
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #f0f0f0;
}

.header-cont {
    display: flex;
}

.img-cont {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 6px;
}

.img-cont > img {
    width: 40px;
    height: 40px;
}

.user-info-cont span {
    font-size: 16px;
    color: #222;
    display: block;
    font-weight: 700;
}

.user-info-cont p {
    color: #999;
    font-size: 14px;
    margin-top: 3px;
}

.txt-cont {
    margin-top: 15px;
}

/*----------INFO SECTION----------*/

.info-sec {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.info-sec > header {
    text-align: center;
    margin-bottom: 70px;
}

.info-sec h2, .info-sec h3 {
    color: var(--title-color);
    line-height: 1.3;
}

.info-sec h2 {
    font-size: 26px;
}

.info-grid-cont {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.info-grid-cont div {
    margin-bottom: 20px;
}

.info-grid-cont.reverse{
    flex-direction: column-reverse;
}

.info-grid-cont div {
    margin-top: 20px;
}

.info-highlight {
    margin: 10px 0;
    color: var(--subtitle-color);
}

.info-grid-cont h3 {
    font-size: 22px;
    letter-spacing: 1.4px;
}

.info-grid-cont p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 31px;
    font-weight: 200;
}

.info-grid-cont img  {
    max-width: 100%;
    margin: auto;
}

/*----------COURSE SECTION----------*/

.course-sec {
    background-color: var(--bg-grey);
    padding-bottom: 50px;
}

.course-sec h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 31px;
    font-weight: 200;
    text-align: center;
}

.course-sec-cont {
    padding: 50px 30px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    max-width: 750px;
}

.course-grid-cont {
    background-color: var(--bg-white);
    border: 1px solid #fff;
    box-shadow: 0 1px #fff;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 50px;
    text-align: center;
    height: auto;
}

.course-img-cont {
    overflow: hidden;
    width: 100%;
}

.course-img-cont img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #ededed;
}

.course-grid-title {
    display: block;
    color: #191919;
    line-height: 25px;
    padding: 16px 16px 4px 16px;
    font-weight: bold;
    font-size: 18px;
    max-height: 65px;
    overflow: hidden;
}

.course-grid-cont p {
    font-size: 15px;
    color: gray;
    font-weight: 200;
    overflow: hidden;
    margin-bottom: 70px;
    padding: 5px 16px;
    max-height: 85px;
}

.course-btn {
    color: var(--bg-white);
    max-width: 195.5px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btns-color);
    padding: 16px 30px;
    border-radius: 50px;
    margin: 0 auto;
}

.course-sec > p {
    text-align: center;
    margin-bottom: 31px;
}

@media screen and (min-width:480px) {
    .banner-txt {
        max-width: 708px;
    }
}

@media screen and (min-width:768px) {
    .navbar-logo {
        margin-left: 15px;
    }

 /*----------BANNER SECTION----------*/

    .banner {
        padding: 75px 0 340px;
    }

    .banner-img-cont {
        top: 50%;
        width: 730px;
        height: 424px;
    }

 /*----------INTRO SECTION----------*/

    .intro-sec {
        margin: 150px auto 0;
    }

 /*----------INFO SECTION----------*/

    .info-grid-cont,
    .info-grid-cont.reverse {
        flex-direction: row;
        margin: 50px 0;
    }

    .info-grid-cont img  {
        max-width: 50%;
    }

 /*----------COURSE SECTION----------*/

    .course-sec-cont {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        max-width: 750px;
    }

    .cou h2 {
        padding-bottom: 25px;
    }

    .course-grid-cont {
        height: 90%;
    }

    .reviews-grid-cont {
        grid-template-columns: 1fr 1fr;
    }


}

@media  screen and (min-width:900px) {

 /*----------NAVBAR----------*/

    #navbar-toggle {
        display: none;
    }

    .navbar-links-container {
        padding-right: 25px;
        display: flex;
        align-content: center;
    }
    
    #navbar-links {
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: none;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        opacity: 1;
        transform: translateY(0);
        top: 0;
    }

    #navbar-links > li > ul {
        display: inline-block;
    }
    
    #navbar-links a {
        display: block;
        color: var(--link-navbar);
        font-size: 16px;
    }
    
    #more-section {
        padding-left: 0;
        box-shadow: none;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out;
        transform: translateY(-10px);
        opacity: 0;
        height: 0px;
        position: absolute;
    }
    
    #more-section.activo {
        transform: translateY(0);
        opacity: 1;
        height: 100px;
    }  

    #navbar-links #signup-btn {
        padding: 3px 18px;
        color: var(--bg-white);
    }

    .pink-btn {
        background-color: var(--btns-color);
        border-radius: 20px;
    }

 /*----------BANNER----------*/

    .banner-txt {
        max-width: 900px;
    }

 /*----------INTRO SECTION----------*/

    .intro-sec {
        margin: 190px auto 0;
    }

    .intro-data-cont {
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    }

 /*----------COURSE SECTION----------*/

    .course-sec-cont {
        grid-template-columns: repeat(3, 1fr);
        max-width: 970px;
    }
}

@media  screen and (min-width:1200px) {
    .navbar-links-container {
        padding-right: 0px;
    }

    .course-sec-cont {
        max-width: 1170px;
    }
}
